.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image {
  position: relative;
  top: 0;
  left: 0;
  border: 1 solid #000000;
}

.banner {
  position: absolute;
  top: 30;
  left: 30;
  border: 1 solid #000000;
}
  
